<mat-card>
    <div layout="column">
        <div flex="">
            <h2>Analytics by Age</h2>
        </div>
        <div flex="" *ngIf="alls">
            <mat-divider></mat-divider>
            <div class="chart-wrapper">
                <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                    [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
                </canvas>
            </div>
        </div>
    </div>
</mat-card>