/* You can add global styles to this file, and also import other style files */
@import "roboto-fontface-material/fonts/roboto-fontface-material.css";
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import 'material-icons/iconfont/material-icons.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.btn-borde {
  background: transparent;
  padding: .375rem .75rem;
  border: 1px solid #8e8e8e;
  border-radius: .25rem;
  color: #8e8e8e;
  transition: color .15s ease-in-out,
  background-color .15s ease-in-out;
  margin-right: .5rem;
  cursor: pointer;
}

.btn-borde:hover, .btn-borde:active, .btn-borde:focus {
  color: #fff;
  background-color: #8e8e8e;
}

.btn-borde--info {
  color: #007bff;
  border-color: #007bff;
}

.btn-borde--info:hover, .btn-borde--info:active, .btn-borde--info:focus {
  color: #fff;
  background-color: #007bff;
}

.btn-borde--warning {
  color: #e71212;
  border-color: #e71212;
}

.btn-borde--warning:hover, .btn-borde--warning:active, .btn-borde--warning:focus {
  color: #fff;
  background-color: #e71212;
}

.btn-borde:disabled {
  color: #c7c7c7;
  border-color: #c7c7c7;
  cursor: default;
}

.btn-borde:disabled:hover, .btn-borde:disabled:active, .btn-borde:disabled:focus {
  color: #c7c7c7;
  background-color: transparent;
}