<mat-card>
    <div layout="column">
        <div flex="">
            <h2>Employees</h2>
        </div>
        <div flex="">
            <app-tablelist [add]="addForm" [update]="updateForm"  [delete]="deleteForm" (EdititemEvent)="ChooseItem($event)"></app-tablelist>
        </div>
        <div flex="" class="div-order-100">
            <mat-divider></mat-divider>
        </div>
        <div flex="">
            <form class="example-form" [formGroup]="myform">
                <div layout="row">
                    <div flex="26" class="div-order-26">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Name</mat-label>
                            <input type="text" matInput [formControl]="nameFormControl" [errorStateMatcher]="matcher"
                                placeholder="Ex. Louis">
                            <mat-error *ngIf="!nameFormControl.hasError('required')">
                                Please enter a valid name
                            </mat-error>
                            <mat-error *ngIf="nameFormControl.hasError('required')">
                                Name is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div flex="26" class="div-order-26">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Age</mat-label>
                            <input type="number" min="1" matInput [formControl]="ageFormControl" [errorStateMatcher]="matcher"
                                placeholder="Ex. 21">
                            <mat-error *ngIf="!ageFormControl.hasError('required')">
                                Please enter a valid age
                            </mat-error>
                            <mat-error *ngIf="ageFormControl.hasError('required')">
                                Age is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div flex="26" class="div-order-26">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Username</mat-label>
                            <input type="text" matInput [formControl]="usernameFormControl" [errorStateMatcher]="matcher"
                                placeholder="Ex. user2021">
                            <mat-error *ngIf="!usernameFormControl.hasError('required')">
                                Please enter a valid username
                            </mat-error>
                            <mat-error *ngIf="usernameFormControl.hasError('required')">
                                Username is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </div>
        <div flex="100">
            <div class="example-button-row">
                <button mat-button (click)="add()" class="btn-borde btn-borde--info" [disabled]="addAction">Add</button>
                <button mat-button (click)="edit()" class="btn-borde btn-borde--info" [disabled]="actions">Edit</button>
                <button mat-button (click)="delete()" class="btn-borde btn-borde--warning" [disabled]="actions">Delete</button>
                <button mat-button (click)="resetAll()" class="btn-borde">Cancel</button>
              </div>
        </div>
    </div>
</mat-card>