.example-form-field {
    width: 100%;
}

.example-button-row {
    display: table-cell;
    width: 100%;
}

.example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
}
div.div-order-26 {
    padding: 0.2rem;
    display: inline-block;
    width: 26%;
}
div.div-order-100 {
    padding: 1.5rem;
    display: inline-block;
    width: 100%;
}